{% extends 'base.html' %}

{% block content %}
<main role="main" class="container">

    <div class="starter-template">
        <h1>Информация о магазине</h1>
        <p class="lead">Наш магазин занимается продажей головоломок в городе Ростов-на-Дону. Мы каждый день работаем над расширением ассортимента, чтобы каждый смог найти то, что ему по душе.
            Если у вас есть какие-то вопросы или пожелания - пишите в личные сообщения администраторам ( <a href="https://vk.com/id45253516" target="_blank">Дмитрий Нечипорук</a> | <a href="https://vk.com/id17526312" target="_blank">Анна Дроздова</a>). Мы обязательно ответим и поможем вам.</p>
    </div>

</main>
{% endblock content %}